.patient-card__box {
  @include flex(flex-start, flex-start, column);
  min-width: 270px;
  width: 100%;
  background: $color-main;
  box-shadow: 0px 4px 32px rgba(218, 228, 255, 0.24);
  border-radius: 12px;
  padding: 24px 16px 24px 24px;
  margin-bottom: 24px;

  @include desktop {
    max-width: 390px;
    padding: 32px;
    margin-right: 20px;
  }
}

.patient-box__row {
  position: relative;
  @include flex(space-between, center, row);
  width: 100%;
  margin-bottom: 16px;
}

.patient-box__row--min-width {
  width: auto;
}

.patient-box__row--border-bottom {
  &::after {
    position: absolute;
    bottom: -16px;
    left: -24px;
    content: '';
    width: calc(100% + 40px);
    border-bottom: 1px solid $color-border-main;
  }

  @include desktop {
    &::after {
      left: -32px;
      width: calc(100% + 64px);
    }
  }
}

.patient-column {
  @include flex(space-between, center, column);
}

.patient-list__box {
  padding-top: 18px;
  @include flex(flex-start, flex-start, column);
}

.main-btn__box {
  position: relative;
  @include flex(flex-start, flex-start, row);
}
