.header-wrapper {
  @include flex(space-between, center, row, nowrap);
  margin-bottom: 16px;
  padding: 0 24px;

  @include tablet {
    margin-bottom: 22px;
    padding: 0;
  }
}

.logo-wrapper {
  max-width: 130px;
  width: 100%;
}

.header-wrapper__column {
  display: none;

  @include tablet {
    @include flex(flex-end, flex-end, column);
    margin-right: 16px;
  }
}

.header-wrapper__row {
  @include flex(flex-start, stretch, row, nowrap);
}

.main-wrapper {
  min-height: calc(100vh - 72px);
  background: $color-bg-main;
  box-shadow: 0px 4px 32px rgba(218, 228, 255, 0.32);
  border-radius: 16px 16px 0px 0px;
  padding: 40px 24px;

  @include tablet {
    min-height: calc(100vh - 130px);
    border-radius: 16px;
    padding: 40px 48px;
  }
}

.main-wrapper__row {
  @include flex(space-between, stretch, row);
  margin-bottom: 40px;

  @include tablet {
    justify-content: flex-start;
    margin-bottom: 56px;
  }
}

.main-wrapper__row--between {
  justify-content: space-between;
}

.patients-wrapper {
  position: relative;
  height: 50vh;
  @include flex(flex-start, flex-start, column);
  overflow-y: scroll;
  overflow-x: hidden;

  @include tablet {
    padding-right: 20px;
    &::-webkit-scrollbar {
      width: 12px;
      border-radius: 8px;
    }

    &::-webkit-scrollbar-track {
      background-color: rgba($color-border-main, 0.3);
      border-radius: 8px;
    }

    &::-webkit-scrollbar-thumb {
      background: $color-border-main;
      border-radius: 8px;
      opacity: 0.3;
    }
  }

  @include desktop {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  

  /*  &:after {
    content: url('./../../../images/icons/medical-history.png');
    position: absolute;
    display: block;
    top: 30%;
    transform: translateY(-50%);

    @include tablet {
      top: 50%;
    }
  }

  &::before {
    content: 'You have no patients yet. To create a patient profile, please contact your administrator';
    max-width: 200px;
    position: absolute;
    display: block;
    top: 70%;
    transform: translateY(-50%);
    @include text($font-size-small-second, $font-weigth-main, $color-text-primary);
    line-height: 140%;
    text-align: center;

    @include tablet {
      max-width: 460px;
      top: 70%;
    }
  } */
}
