.form-main__box {
  @include flex(flex-start, center, row, nowrap);
}

.form-main__box-content {
  @include flex(flex-start, stretch, column, nowrap);
}

.form-main__box-content--margin {
  margin-bottom: 32px;
}

.form-main__box-content--height {
  @include tablet {
    min-height: 625px;
    justify-content: space-between;
  }
}

.form-main__box-content--height-large {
  @include tablet {
    min-height: 720px;
    justify-content: space-between;
  }
}

.form-main__box--row {
  @include tablet {
    @include flex(flex-start, stretch, row, nowrap);

    & > .form-main__text {
      margin-right: 12px;
    }
  }
}
