//Url fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

//Color
$color-main: #fff;
$color-btn-main: #ff2567;
$color-text-main: #202225;
$color-text-primary: #a1abc9;
$color-text-second: #7297ff;
$color-bg-btn-main: #7297ff;
$color-bg-main: #f9faff;
$color-bg-primary: #e4ebff;
$color-bg-second: #34c197;
$color-icon-main: #a1abc9;
$color-border-main: #dce0ec;

//Size block
$container-width: 560px;

//Font size
$font-size-large-primary: 24px;
$font-size-medium-second: 20px;
$font-size-medium-primary: 17px;
$font-size-small-second: 15px;
$font-size-small-primary: 13px;

//Font weigth
$font-weigth-main: 400;
$font-weigth-primary: 600;

//Font family
$font-family-main: 'Poppins', sans-serif;

//Responsive
$screen-mobile: 375px;
$screen-tablet: 768px;
$screen-desktop: 1024px;
