.patient-img {
  @include size-element(48px, 48px);
  margin-right: 16px;
}

.patient__title {
  @include text($font-size-medium-primary, $font-weigth-primary, $color-text-main);
  line-height: 130%;
  margin-bottom: 4px;
}

.patient__subtitle {
  position: relative;
  @include text($font-size-small-primary, $font-weigth-main, $color-text-primary);
  line-height: 130%;
  max-width: 160px;
  padding-left: 16px;

  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 3px;
    left: 0;
    @include size-element(8px, 8px);
    border-radius: 50%;
    background-color: $color-bg-second;
  }

  @include tablet {
    max-width: 100%;
  }
}

.patient__subtitle--canceled {
  &::after {
    background-color: $color-btn-main;
  }
}

.patient__subtitle--waiting {
  &::after {
    background-color: $color-text-second;
  }
}

.patient-list__description {
  @include flex(flex-start, flex-start, column);
}

.patient-list__description-item {
  @include flex(flex-start, flex-start, row, nowrap);

  &:not(:last-child) {
    margin-bottom: 24px;
  }
}

.patient-list__description-img {
  @include size-element(20px, 20px);
  margin-right: 18px;
}

.patient-list__description-title {
  vertical-align: top;
  @include text($font-size-small-second, $font-weigth-primary, $color-text-main);
  line-height: 130%;
}

.patient-list__description-text {
  vertical-align: top;
  align-items: center;
  @include text($font-size-small-second, $font-weigth-main, $color-text-main);
  line-height: 140%;
}
