.btn-main {
  cursor: pointer;
  max-width: 120px;
  min-height: 40px;
  width: 100%;
  padding: 12px 0;

  @include text($font-size-small-second, $font-weigth-primary, $color-main);
  background-color: $color-bg-btn-main;
  line-height: 130%;

  border-radius: 8px;
  box-shadow: 0px 4px 32px rgba(218, 228, 255, 0.16);

  @include tablet {
    max-width: 160px;
    margin-right: 24px;
  }
}

.btn-main--primary {
  background-color: $color-main;
  color: $color-text-second;
}

.patient-btn {
  cursor: pointer;
  position: relative;
  @include flex(space-between, center, column);
  @include size-element(24px, 24px);
}

.patient-btn__dot {
  position: relative;
  @include size-element(4px, 4px);
  background-color: $color-border-main;
  border-radius: 50%;
}

.btn-password {
  margin-bottom: -5px;
}

.form-main__btn-submit {
  background-color: $color-bg-btn-main;
  border: none;
  outline: none;
  @include text($font-size-small-second, $font-weigth-primary, $color-main);
  margin-right: 15px;
}
