.form-main {
  position: relative;
  top: 72px;
  @include flex(space-between, stretch, column);
  background-color: $color-bg-main;
  padding: 32px;
  border-radius: 24px 24px 0px 0px;
  min-height: calc(100% - 72px);

  @include tablet {
    position: absolute;
    top: 0;
    right: 0;
    min-height: 100vh;
    border-radius: 0;
    width: 560px;
    padding: 80px 96px;
    justify-content: flex-end;
  }
}

.form-main__input {
  border: none;
  outline: none;
  width: 90%;

  @include text($font-size-small-second, $font-weigth-main, $color-text-main);

  &:placeholder-shown,
  &::placeholder {
    color: $color-text-primary;
  }

  @include tablet {
    font-size: $font-size-medium-primary;

    &:placeholder-shown,
    &::placeholder {
      font-size: $font-size-medium-primary;
    }
  }
}

.form-main__title {
  align-self: stretch;
  @include text($font-size-medium-second, $font-weigth-primary, $color-text-main);
  line-height: 24px;
  margin-bottom: 24px;

  @include tablet {
    font-size: $font-size-large-primary;
    margin-bottom: 40px;
  }
}

.form-main__error {
  @include text($font-size-small-primary, $font-weigth-main, $color-text-error);
  letter-spacing: -0.24px;
  position: relative;
  top: -8px;
  margin-bottom: 24px;

  @include tablet {
    top: -25px;
    margin-bottom: 0;
  }
}

.form-main__text {
  @include text($font-size-small-second, $font-weigth-main, $color-text-primary);
}

.form-main__text--margin {
  margin-bottom: 24px;
}

.form-main__link {
  @include text($font-size-small-second, $font-weigth-primary, $color-text-second);
  text-decoration: underline;
}

.form-main__link-back {
  padding-left: 10px;
}
