.form-main {
  position: relative;
  top: 72px;
  @include flex(space-between, stretch, column);
  background-color: $color-bg-main;
  padding: 32px;
  border-radius: 24px 24px 0px 0px;
  min-height: calc(100% - 72px);

  @include tablet {
    position: absolute;
    top: 0;
    right: 0;
    min-height: 100vh;
    border-radius: 0;
    width: 560px;
    padding: 80px 96px;
    justify-content: center;
  }

  @include desktop {
    justify-content: flex-end;
  }
}

.form-main__input {
  position: relative;
  border: none;
  outline: none;
  max-height: 58px;
  width: 100%;
  padding: 20px 26px 20px 64px;
  box-shadow: 0px 4px 32px rgba(218, 228, 255, 0.16);
  border-radius: 8px;
  border: 1px solid $color-border-main;
  transition: all 0.2s ease;

  @include text($font-size-small-second, $font-weigth-main, $color-text-main);

  &:placeholder-shown,
  &::placeholder {
    color: $color-text-primary;
  }

  @include tablet {
    font-size: $font-size-medium-primary;

    &:placeholder-shown,
    &::placeholder {
      font-size: $font-size-medium-primary;
    }
  }

  &:focus {
    border: 1px solid $color-bg-btn-main;
  }
}

.form-main__title {
  position: relative;
  align-self: stretch;
  @include text($font-size-medium-second, $font-weigth-primary, $color-text-main);
  line-height: 24px;
  margin-bottom: 24px;

  @include tablet {
    font-size: $font-size-large-primary;
    margin-bottom: 40px;
  }

  @include desktop {
    &:hover {
      .form-main__link-back::after {
        transform: translateX(-10px) rotate(180deg);
      }
    }
  }
}

.form-main__error {
  @include text($font-size-small-primary, $font-weigth-main, $color-text-error);
  letter-spacing: -0.24px;
  margin-bottom: 24px;

  @include tablet {
    top: -25px;
    margin-bottom: 0;
  }
}

.form-main__text {
  @include text($font-size-small-second, $font-weigth-main, $color-text-primary);
}

.form-main__text--margin {
  margin-bottom: 24px;
}

.form-main__link {
  @include text($font-size-small-second, $font-weigth-primary, $color-text-second);
  text-decoration: underline;
}

.form-main__link-back {
  width: 10px;
  height: 10px;
  position: absolute;
  left: 5px;
  top: 70%;
  transform: translateY(-50%);

  &::after {
    content: url('../images/icons/icon-arrow-right.svg');
    display: block;
    width: 8px;
    height: 13px;
    position: relative;
    transform: rotate(180deg);
    transition: all 0.2s ease;
  }
}

.form-main__title--margin {
  padding-left: 30px;
}
