.is-hidden-error {
  display: none;
}

.is-visible-error {
  display: block;
  position: absolute;
  top: calc(100% + 8px);
}

.is-error-input {
  border: 1px solid $color-text-error !important;
}

.is-hidden-block {
  display: none;
}

.is-visible-block {
  display: block;
}
