.is-hidden-error {
  display: none;
}

.is-visible-error {
  display: block;
}

.is-error-input {
  border: 1px solid $color-text-error;
}

.is-hidden-block {
  display: none;
}

.is-visible-block {
  display: block;
}

.is-focus-input {
  border: 1px solid $color-bg-btn-main; 
}
